<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Crazyflie Controller</name>
    <description>
        A customer controller scheme for the Crazyflie quadcopter.
    </description>
    <author email="sxenog@gmail.com" href="https://github.com/codyjackson">
        Cody Jackson
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
