<!DOCTYPE html>
<html ng-controller="GlobalController">
  <head>
    <title>Mimosa</title>

    <link rel="stylesheet" href="stylesheets/vendor/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="stylesheets/vendor/font-awesome/font-awesome.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />


    {{#reload}}
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/reload-client.js"></script>
    {{/reload}}

    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script src="javascripts/bundle.js"></script>
    <script type="text/javascript">
    var meta = document.createElement("meta");
    meta.setAttribute('name','viewport');
    meta.setAttribute('content','initial-scale=1,height=1701,user-scalable=no, width=1080,maximum-scale='+ (1/window.devicePixelRatio) + ',minimum-scale='+ (1/window.devicePixelRatio));
    document.getElementsByTagName('head')[0].appendChild(meta);
     </script>
  </head>
  <body ng-view screen-tap="onScreenTap()">
  </body>
</html>